
<!DOCTYPE document [
<!ELEMENT document (title,name, session_id, session_date, session_time, session_name, session_space)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT space (#PCDATA)>
<!ELEMENT booked (#PCDATA)>
]>









<document>
    <title>Complete History of classes</title>
<% for (var i = 0; i < sessions.length; i++) { %>
    <session>
        <id><%- sessions[i].session_id %></id>
        <name><%- sessions[i].name %></name>
        <date><%- sessions[i].date %></date>
        <time><%- sessions[i].time %></time>
        <name><%- sessions[i].session_name %></name>
        <maxspace><%- sessions[i].max_space %></maxspace>
        <space><%- sessions[i].booked %>/<%- sessions[i].max_space %></space>
    </session>

<% } %>

</document>
